<!DOCTYPE html>
<html lang="en">
<head>
<title>insta485</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<div class="header">
	<a href="/" class="logo">Insta485</a>
	<img src = "/static/uploads/instalogo.png" alt = "post image" width="30" height="30">
	<div class="header-right">
	  <a class="active" href="/explore/">Explore</a>
	  <a href="/users/{{logname}}/">{{logname}}</a>
	</div>
</div>
<h2>{{logname}}</h2>	
<form action="{{url_for('show_target')}}?target={{url_for('show_create')}}" method="post" enctype="multipart/form-data">
  <input type="submit" name="delete" value="confirm delete account"/>
  <input type="hidden" name="operation" value="delete"/>
</form>
